body {
	background: url('images/blue_bck.jpg') no-repeat fixed center center;
	display: flex;
	justify-content: center;
	align-items: center;
	/*height: 885px*/
}

h1 {
	color: white;
}

ul {
    list-style-type: none;
}

.wrapper {
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    position: fixed;
    top: 50%;
    text-align: center;
    margin-top: -230px;
}

.container {
	background: url('images/blue_bck_content.png') no-repeat fixed center center;
	margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    color: black !important;
}

ul.nav {
	display: flex;
	flex-direction: row !important;
	justify-content: space-around;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	height: 24px;
    position: relative;
    top: 8px;
}

ul.nav a {
	text-decoration: none;
	color: black;
}

a:active {
	color: blue !important;
}

a.active {
	color: blue !important;
}

ul.nav li {
	list-style-type: none;
}

a.vcard {
	width: 200px;
    height: 27px;
    display: inline-block;
    font-size: 14px;
    padding-top: 8px;
    color: #FFF;
    background: url('images/blue_bck_vcard.jpg') no-repeat;
    margin-top: 15px;
    margin-bottom: 30px;
}

h2 {
	margin-bottom: 30px;
}

a {
	text-decoration: none;
}

div.copy {
	width: 600px;
    height: 30px;
    font: 9px "Small Fonts",Verdana;
    text-shadow: #fff 0px 1px 0px;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    top: 330px;
}

#avatarContainer {
	width: 100px;
    height: 100px;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    background: url('images/bck_pic.jpg') no-repeat;
    /*background-size: 100% 100%;*/
    float: left;
}

.content {
    padding: 15px 15px 0px 15px;
    height: 100%;
}


div.WorkLeft {

}

.work-one {
    width: 80px;
    height: 80px;
    padding: 10px;
    /*margin: 0px 10px 10px 0px;*/
    background: url('images/bck_pic.jpg') no-repeat;
    background-size: 100% 100%;
    float: left;
}

.work-two {
    width: 80px;
    height: 80px;
    padding: 10px;
    /*margin: 0px 10px 10px 0px;*/
    background: url('images/bck_pic.jpg') no-repeat;
    background-size: 100% 100%;
    float: left;
}

.work-three {
    width: 80px;
    height: 80px;
    padding: 10px;
    /*margin: 0px 10px 10px 0px;*/
    background: url('images/bck_pic.jpg') no-repeat;
    background-size: 100% 100%;
    float: left;
}

.row ul {
    height: 100%;
    display: flex;
    width: 100%;
    /* padding-top:  10px; */
    padding: 0px;
    margin: 0 auto !important;
    justify-content: space-around;
}

#aboutContainer {
	text-align: left;
}